/* Resetar as estilizações */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* variaveis */
:root {
  --corPadrao: 159;
}

/* Estilização genericas */

.title {
  font: 700 1.8rem "Poppins", sans-serif;
  color: hsl(var(--corPadrao), 41%, 10%);
  -webkit-font-smoothing: antialiased;
}

.button {
  background: hsl(var(--corPadrao), 36%, 57%);
  color: hsl(0, 0%, 98%);
  height: 3.5rem;
  align-items: center;
  display: inline-flex;
  padding: 0 2rem;
  border-radius: 0.25rem;
  transition: background 0.3s;
}

.button:hover {
  background: hsl(var(--corPadrao), 57%, 53%);
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  color: hsl(0 0% 46%);
  background: hsl(0 0% 98%);
}

.divisao {
  height: 1px;
  background: linear-gradient(
    100deg,
    hsl(var(--corPadrao) 65% 88%),
    hsl(0 0% 46%)
  );
}
/* ---- Section Home */
#home .container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 5rem 0;
  margin-top: 2rem;
}

.section .title {
  margin-bottom: 1rem;
}

/* ---- Home */
#home {
  overflow: hidden;
  margin-top: 6rem;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
  right: 1.5rem;
}

#home .image::before {
  position: absolute;
  top: -15%;
  left: 15%;
  content: "";
  background: hsl(var(--corPadrao) 65% 88%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

#home .image img {
  position: relative;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
}

/* Navegação */

nav {
  height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: hsl(var(--corPadrao) 65% 88%);
  z-index: 10;
  top: 0;
}

nav.container {
  margin-left: 0;
}
nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
}

nav .menu ul {
  display: none;
}

nav.show .menu ul {
  display: grid;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  top: 0;
  background-color: hsl(0 0% 98%);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  display: grid;
  place-content: center;
}
nav ul li {
  text-align: center;
}

nav ul li a.title:hover {
  color: hsl(var(--corPadrao), 36%, 57%);
}

nav.show ul.grid {
  gap: 4rem;
}

ul {
  list-style: none;
}

nav .close {
  display: none;
  visibility: hidden;
  opacity: 0;
  top: -1.5rem;
  right: 1.5rem;
  transition: 1s;
}

nav .open {
  right: 1.5rem;
}

nav.show .close {
  display: flex;
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
  z-index: 10;
}

.chave {
  position: absolute;
  cursor: pointer;
}

.logo {
  font: 700 1.2rem "Poppins", sans-serif;
  color: black;
  margin-left: 1rem;
}
.logo span {
  color: hsl(var(--corPadrao), 36%, 57%);
}

/*------ SOBRE NÓS -----*/
#sobre .container {
  margin-right: 0;
}

#sobre .image {
  position: relative;
}

#sobre .image::before {
  content: "teste";
  height: 100%;
  width: 100%;
  position: absolute;
  top: -10%;
  left: -30%;
  background: hsl(var(--corPadrao) 65% 88%);
  z-index: -1;
}

/* -------------- SErviços -------------*/

.card {
  border-radius: 0.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 0.25rem solid hsl(var(--corPadrao) 40% 57%);
  text-align: center;
  padding: 6rem 2rem;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* Equipe */

#equipes .container {
  margin-left: auto;
  margin-right: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 4rem 1rem;
}

.swiper-button-prev {
  color: #000 !important;
}
.swiper-button-next {
  color: #000 !important;
}
#equipe blockquote {
  padding: 2rem;
  width: 80%;

  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 12px;
}

#equipe blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#equipe blockquote p span {
  font: 700 3rem serif;
  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
  color: hsl(var(--corPadrao) 40% 57%);
}

#equipe cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#equipe cite img {
  width: 2rem;
  height: 2rem;
  clip-path: circle();
}

/* Contato */

#contatos .grid {
  gap: 4rem;
}

#contatos .text p {
  margin-bottom: 2rem;
}

#contatos .listContatos {
  display: grid;
  gap: 2rem;
}

/* footer */
footer {
  background: hsl(var(--corPadrao) 40% 57%);
}

#footer .logo {
  display: flex;
  margin-bottom: 1.5rem;
}

#footer .logo span {
  color: white;
}

#footer .info p {
  margin-bottom: 1.25rem;
  margin-left: 1rem;
}

@media (min-width: 800px) {
  container {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  nav.container {
    display: flex;
  }
  .section {
    padding: 10rem 0;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font-size: 1.25rem;
  }

  nav .open {
    display: none;
  }
  #home .container {
    display: grid;
    grid-auto-flow: column;
  }

  #sobre .container {
    display: grid;
    grid-auto-flow: column;
  }

  .cards {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
  }
}
