/* Resetar as estilizações */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* variaveis */
:root {
  --corPadrao: 159;
}

/* Estilização genericas */

.title {
  font: 700 1.8rem "Poppins", sans-serif;
  color: hsl(var(--corPadrao), 41%, 10%);
  -webkit-font-smoothing: antialiased;
}

.button {
  background: hsl(var(--corPadrao), 36%, 57%);
  color: hsl(0, 0%, 98%);
  height: 3.5rem;
  align-items: center;
  display: inline-flex;
  padding: 0 2rem;
  border-radius: 0.25rem;
  transition: background 0.3s;
}

.button:hover {
  background: hsl(var(--corPadrao), 57%, 53%);
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  color: hsl(0 0% 46%);
  background: hsl(0 0% 98%);
}
/* ---- Section Home */
#home .container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 5rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

/* ---- Home */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
  right: 1.5rem;
}

#home .image::before {
  position: absolute;
  top: -15%;
  left: 15%;
  content: "";
  background: hsl(var(--corPadrao) 65% 88%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

#home .image img {
  position: relative;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
}

/* Navegação */

nav {
  height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
}

nav .menu ul {
  display: none;
}

nav.show .menu ul {
  display: grid;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  top: 0;
  background-color: hsl(0 0% 98%);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  display: grid;
  place-content: center;
}
nav ul li {
  text-align: center;
}

nav ul li a.title:hover {
  color: hsl(var(--corPadrao), 36%, 57%);
}

nav.show ul.grid {
  gap: 4rem;
}

ul {
  list-style: none;
}

nav .close {
  display: none;
  visibility: hidden;
  opacity: 0;
  top: -1.5rem;
  right: 1.5rem;
  transition: 1s;
}

nav .open {
}

nav.show .close {
  display: flex;
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
  z-index: 10;
}

.chave {
  cursor: pointer;
}

.logo {
  font: 700 1.2rem "Poppins", sans-serif;
  color: black;
  margin-left: 1rem;
}
.logo span {
  color: hsl(var(--corPadrao), 36%, 57%);
}